services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: chat_db
    ports:
      - "5432:5432"
    restart: always

  user-service:
    build: ./user-service
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always

  chat-service:
    build: ./chat-service
    ports:
      - "8001:8001"
    depends_on:
      - db
    restart: always
